<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.artefact.kiblat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    
     <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="id.artefact.kiblat.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="id.artefact.kiblat.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@android:style/android:Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="id.artefact.kiblat.CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name="id.artefact.kiblat.ContentActivity"
            android:label="@string/title_activity_content" >
        </activity>
          <activity
            android:name="id.artefact.kiblat.AboutActivity"
            android:label="@string/title_activity_content" >
        </activity>
    </application>

</manifest>